<header class="section-component">
    <h1>Airbnb Search Engine</h1>
</header>

<section class="section-component" id="query-section">
    <app-search (newItemEvent)=results_fetch_event($event)></app-search>
</section>

<section class="section-component time-analysis">
    <app-time-analysis [num_results]=num_results [time]=time_elapsed></app-time-analysis>
</section>

<section class="section-component" *ngIf="num_results>0">
    <app-results-display [data]=results></app-results-display>
</section>